{% extends "members/base.html" %}
{% load bootstrap %}
{% load gravatar %}
{% load topbar %}

{% block title %}编辑资料{% endblock title %}

{% block subtitle %}一艺之成，当尽毕生之力{% endblock subtitle %}

{% block main %}
<ul class="tabs nav nav-tabs">
    <li class="active"><a href="#tab-customization" data-toggle="tab" title="">定制</a></li>
    <li><a href="#tab-security" data-toggle="tab" title="">安全</a></li>
    <li><a href="#tab-contact" data-toggle="tab" title="">联系方式</a></li>
</ul>
<form id="edit-profile" class="form-horizontal inner-post" enctype="multipart/form-data" action="" method="post" accept-charset="utf-8">
{% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-customization">
            <div class="row">
                <div class="span summary">
                    <div class="control-group">
                        <label class="control-label">用户名</label>
                        <div class="controls"><span class="uneditable-input">{{ user }}</span></div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">头像</label>
                        <div class="controls">{% include "ajaxcrop.html" %}</div>
                    </div>
                    {{ form.avatar }}
                    {{ form.last_name|label:"全名" }}
                    {{ form.site|label:"站点" }}
                </div>
                <div class="span large-avatar avatar" style="text-align:center">
                    <img id="preview" class="avatar" src="{% avatar user %}" />
                </div>
            </div>
            {{ form.bio|label:"简介" }}
        </div>
        <div class="tab-pane fade in" id="tab-security">
            {{ form.email|label:"邮箱" }}
            {{ passform.old_password|label:"当前密码"  }}
            {{ passform.new_password1|label:"新密码"  }}
            {{ passform.new_password2|label:"确认"  }}
        </div>
        <div class="tab-pane fade in" id="tab-contact">
            {{ form.student_num|label:"学号" }}
            {{ form.contact_twitter|label:"<img src='/static/images/icon-twitter.ico' class='icon' /> Twitter"}}
            {{ form.contact_qq|label:"QQ"}}
            {{ form.contact_fanfou|label:"饭否"}}
        </div>
    </div>
    <div class="form-actions">
        {% if form.errors %}
        <ul class="errors">            
        {% for error in form.errors %}
        <li>
        {{ error }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        <button class="btn btn-primary" type="submit">确认更改</button>
        <button class="btn" type="reset">取消</button>
    </div>
</form>
{% endblock main %}

{% block side %}
{% topbar settings subnav.html %}
{% endblock side %}
