{% extends "members/base.html" %}

{% block title %}Kim Jong II{% endblock title %}

{% block subtitle %}
<a href="">@kimjongii</a>
{% endblock subtitle %}

{% block main %}
<div class="row">
    <div class="span3">
        <img src="http://placehold.it/150x150" class="avatar" alt="" />
        <p id="member-counter">发起活动 <span class="label success">31</span>
        <br />参加活动 <span class="label warning">4159</span></p>
    </div>
    <div class="span7">
        <dl id="profile">
            <dt>主页</dt>
            <dd><a href="http://www.korea-dpr.com/">http://www.korea-dpr.com/</a></dd>
            <dt>注册日期</dt>
            <dd>1942年2月16日</dd>
        </dl>
        <p>朝鲜民主主义人民共和国的第二代最高领导人，原朝鲜劳动党总书记、国防委员会委员长、朝鲜人民军最高司令官，拥有共和国元帅军衔。</p>
    </div>
</div>
<p class="extra align-right">
    <a href="#" class="btn primary">联系Kim Jong II</a>
    <a href="#" class="btn">咻！</a>
</p>
<h3>参加的活动</h3>
<ul class="list">
    <li class="activity">
            <div class="meta">
                <img src="http://placehold.it/64x64" class="avatar" alt="" />
                <p>1234 人参加</p>
            </div>
            <div class="content">
                <h4>活动名称
                <small><a href="#">发起组织</a></small></h4>
                <p>于 yyyy-mm-dd 在 somewhere</p>
                <p>广大人民群众喜闻乐见的</p>
            </div>
    </li>
   <li class="activity">
            <div class="meta">
                <img src="http://placehold.it/64x64" class="avatar" alt="" />
                <p>1234 人参加</p>
            </div>
            <div class="content">
                <h4>活动名称
                <small><a href="#">发起组织</a></small></h4>
                <p>于 yyyy-mm-dd 在 somewhere</p>
                <p>广大人民群众喜闻乐见的</p>
            </div>
    </li>
{% endblock main %}

{% block side %}
<h3>参加的组织
    <small>(12)</small></h3>
<ul class="media-grid avatar">
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
</ul>
<h3>日历</h3>
<img src="http://placehold.it/320x200" />
{% endblock side %}