{% extends "base.html" %}
{% load bootstrap %}

{% block title %}登录{% endblock title %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">嘿咻</a>
            <ul class="nav pull-right">
                <li>
                <a href="/signup">注册</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block container %}
<div class="content">
    <div class="page-header">
        <h1>登录
            <small>必须洗净一切往事，否则你永远无法清楚自由地看这个世界</small>
        </h1> 
    </div>
    <div class="row">
        <div class="span3">
            <h2>输入您的凭证</h2>
            <p>
            请在右边的表单中正确输入您的登陆凭证。
            </p>
        </div>
        <div class="span9">
            <form action="" id="account" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {{ form.username|holding:"用户名/邮箱地址" }}
                {{ form.password|holding:"密码" }}
                <p>
                     <a href="">忘记密码?</a>
                </p>
                <input type="submit" class="btn btn-primary" value="登陆"/>
                <input type="reset" class="btn" value="重置"/>
            </form>
        </div>
    </div>
</div>
<footer id="footer">
<div class="container">
    <p id="copyright">&copy; HexYou 2011</p>
</div>
</footer>
{% endblock %}
