{% extends "base.html" %}
{% load bootstrap %}

{% block title %}登录{% endblock title %}

{% block header %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a href="/" class="brand">嘿咻</a>
            <ul class="nav secondary-nav">
                <li>
                <a href="/signup">注册</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block container %}
<div class="content">
    <div class="page-header">
        <h1>登录
            <small>必须洗净一切往事，否则你永远无法清楚自由地看这个世界</small>
        </h1> 
    </div>
    <div class="row">
        <div class="span4">
            <h2>输入您的凭证</h2>
            <p>
            请在右边的表单中正确输入您的登陆凭证。
            </p>
        </div>
        <div class="span11" style="padding-left:19px; border-left:1px solid #eee; min-height:500px;">
            <form action="" id="account" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {{ form.username|holding:"用户名/邮箱地址" }}
                {{ form.password|holding:"密码" }}
                <p>
                     <a href="">忘记密码?</a>
                </p>
                <input type="submit" class="btn primary" value="登陆"/>
                <input type="reset" class="btn" value="重置"/>
            </form>
        </div>
    </div>
</div>
<footer id="footer">
<div class="container">
    <ul id="friends-link" class="nav">
        <h5>友情链接</h5>
        <li><a href="#">Example.com</a></li>
        <li><a href="#">Example.com</a></li>
        <li><a href="#">Example.com</a></li>
        <li><a href="#">Example.com</a></li>
        <li><a href="#">Example.com</a></li>
        <li><a href="#">Example.com</a></li>
    </ul>
    <p id="copyright">&copy; Trypsin 2011</p>
</div>
</footer>
{% endblock %}
