{% extends "base.html" %}
{% load bootstrap %}

{% block title %}注册{% endblock title %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">嘿咻</a>
        <ul class="nav nav pull-right">
            <li>
                <a href="/login">登陆</a>
            </li>
        </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block container %}
<div class="content">
    <div class="page-header">
        <h1>
            注册
                <small>
                    世间的活动，缺点虽多，但仍是美好的。
                </small>
        </h1> 
    </div>
    <div class="row">
        <div class="span3">
            <h2> 填写信息
            </h2>
            <p>
            请在右边的表单中如实填写您的账户信息。这些个人信息将有助于您参与活动、加入或组建团队等。关于这些个人信息的安全性问题，请参考我们的<a href="#">隐私协议</a>。
            </p>
        </div>
        <div class="span9">
            <form action="" id="account" method="POST">
                {% csrf_token %}
                {{ form.username|holding:"用户名" }}
                {{ form.last_name|holding:"全名" }}
                {{ form.email|holding:"电子邮件" }}
                {{ form.password1|holding:"密码" }}
                {{ form.password2|holding:"重复密码" }}
                {{ form.student_num|holding:"学号" }}
                <h3>联系方式
                <small>(选填)</small>
                </h3>
                {{ form.contact_twitter|prepend:"@|Twitter ID" }}
                {{ form.contact_qq|holding:"QQ"}}
                {{ form.contact_msn|holding:"MSN"}}
                {{ form.contact_fanfou|holding:"饭否"}}
                <h3>服务协议</h3>
                <div class="well" id="policy">
                    <iframe src="/static/html/policy.html" frameborder="0"></iframe>
                </div>
                <input class="btn btn-large btn-primary"  type="submit" value="我接受如上服务协议，现在创建我的账户！"/>
            </form>
        </div>
        </div>
    </div>

</div>
<footer id="footer">
    <div class="container">
        <p id="copyright">&copy; HexYou 2011</p>
    </div>
</footer>
{% endblock %}
