{% extends "base.html" %}

{% block header %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a href="#" class="brand">NearsideBindings</a>
        <ul class="nav secondary-nav">
            <li>
                <a href="/signin">登陆</a>
            </li>
        </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block container %}
<div class="content">
    <div class="page-header">
        <h1>
            注册加入
                <small>
                    立即获得校内社团和活动的最新资讯!
                </small>
        </h1> 
    </div>
    <div class="row">
        <div class="span4 ">
            <h2> 填写信息
            </h2>
            <p>
            请在右边的表单中如实填写您的账户信息。这些个人信息将有助于您参与活动、加入或组建团队等。关于这些个人信息的安全性问题，请参考我们的<a href="#">隐私协议</a>。
            </p>
        </div>
        <div class="span6">
            <form action="" id="account">
                <h3>个人信息</h3>
                <div class="holding">
                    <input type="text" rel="popover" data-content="请输入您的真实姓名，以便使用本站提供的各项服务。" data-original-title="姓名" />
                    <span class="holder">全名</span>
                </div> 
                
                <div class="holding">
                    <input type="email" rel="popover" data-content="请输入您的常用邮箱，此邮箱将会成为您的登陆邮箱和忘记密码时使用的安全邮箱。" data-original-title="电子邮箱" />
                    <span class="holder">电子邮箱</span>
                </div> 
                <div class="holding">
                    <input type="text" rel="popover" data-content="请正确输入您的学号，本站将依据此学号识别您的院系和专业。" data-original-title="学号" />
                    <span class="holder">学号</span>
                </div> 
                <div class="holding">&nbsp;</div>
                <h3>登陆</h3>
                <div class="holding">
                    <input type="password"  rel="popover" data-content="请输入一串由字母、数字、下划线和常用英文标点符号（空格除外）组成的密码，此密码是您登陆本站的唯一凭证，请妥善保存。" data-original-title="密码"/>
                    <span class="holder" >密码</span>
                </div> 
                <div class="holding">
                    <input type="password" rel="popover" data-content="请重复输入上面指定的密码，以确认输入正确" data-original-title="重复密码"/>
                    <span class="holder">重复密码</span>
                </div> 
                <div class="holding">&nbsp;</div>
                <h3>服务协议</h3>
                <div class="well" id="policy">
                    <iframe src="/static/html/policy.html" frameborder="0"></iframe>
                </div>
                <input  class="btn large primary"  type="submit" value="我接受如上服务协议，现在创建我的账户！"/>
            </form>
        </div>
        </div>
    </div>

</div>
{% endblock %}
