/* general */
html { }
body { padding-top:40px; }
textarea { resize:vertical; }
.container>.row { padding-top:20px; }
.container>.content {background-color:#fff; padding:20px; margin:0 -20px; border-radius:0 0 6px 6px; box-shadow:0 1px 2px rgba(0,0,0,.15); }
.page-header{ background-color:#f5f5f5; padding:20px 20px 10px; margin:-20px -20px 20px; }
#side { padding-left:19px; border-left:1px solid #eee; min-height:320px; width:280px; }
.holding { position:relative; padding:0; margin:0; }
.holding .holder { position:absolute; z-index:1; top:0; color:#999; }
.extra { text-align:center; margin-top:8px; padding:8px; border-top:1px solid #eee; }
ul.avatar { margin-left:0; list-style:none; width:100%; }
ul.avatar:after { content:''; clear:both; display:table; }
ul.avatar>li { float:left; margin:3px; width:64px; height:64px; }
ul.avatar a { padding:1px; }
ul.avatar img { width:64px; box-shadow:0 0 3px #666; }
div.avatar img { border-radius:6px; box-shadow:0 0 8px #ccc; }
div.avatar img:hover { box-shadow:0 0 8px #0088cc; }
td.avatar { width:64px; }
td img.avatar { border:1px solid #ccc; border-radius:6px; box-shadow:0 0 8px #ccc; width:64px; }
td img.avatar:hover, ul.avatar img:hover { box-shadow:0 0 8px #0088cc; }
.avatar-small { vertical-align:middle; }
td img.avatar-small { width:20px; margin-right:4px; }
.align-right { text-align:right; }
.align-left { text-align:left; }
.align-center { text-align:center; }
.intro { background:#f7f7f7; padding:10px; border-radius:5px; border:1px #f0f0f0 solid }
.float-left { float:left }
.float-right { float:right }
.inline { display:inline; }
/* .modal-body { max-height:350px;overflow:auto; } */
.tabs { padding:0 22px; margin:0 -14px 18px -14px; }
.tabs>li>a { outline:none; }
.icon { vertical-align:text-top; }
.large-avatar { width:150px; }
.summary { width:450px; }

/* front-general */
#frontpage { background-image:url(/static/images/b7f24bc1-c588-4527-bc81-533cb7aeeaff_5.jpg)}
#frontpage>.container { background-color: rgba(247,247,247,0.8); height:100%; padding:0 50px; border-radius:12px; box-shadow:0 0 8px rgba(0,0,0,.15); }

/* front-top */
#front-top { padding-bottom:20px; border-bottom:1px solid #ddd; width:100%; background:-moz-linear-gradient(center top , #ffffff 60%, #f7f7f7 100%) repeat scroll 0 0 transparent; background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); box-shadow:0 2px 2px #eee; }
#front-login { padding-top:28px; }
#front-login input[type=text], #front-login input[type=password] { width:133px; }
#front-login button { margin-left:1px; }
#front-login .remember { text-align:left; padding:0; }
#front-login .forgot { margin-left:88px; }
#front-login .holding { display:inline; margin-bottom:8px; }
#front-login .holding .holder { left:7px; line-height:16px; }

/* front-signup */
#front-signup { width:340px; font-size:15px; }
#front-signup input { width:320px; padding:9px; }
#front-signup .holding { margin-bottom:8px; }
#front-signup .holding .holder { left:10px;  line-height:38px; }
#front-signup .primary { width:auto; float:right; padding:5px 14px 6px 14px; }

/* front-promotion */
#front-promotion>li { width:100%; }
#front-promotion>li.display-all { display:block; margin-bottom:14px; min-height:98px; }
#front-promotion>li.display-all a { margin:0 14px 0 20px; }
#front-promotion>li.display-image-only p { display:none; }

/* front-bottom */
#copyright { text-align:right; line-height:40px; }
#friends-link>h5 { float:left; line-height:40px; }
#friends-link>li>a:hover { color:#00438a; text-decoration:underline; }


/* inner */

#timeline-header { padding:10px 20px; }
#timeline-container .timeline-node { width:100%; margin:-1px -20px 0px -20px; padding:20px; min-height:190px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
#timeline-container .timeline-node:first-child { margin-top:-20px; }
#timeline-container .timeline-node:after { clear:both; content:'.'; visibility:hidden; display:block; line-height:0; }
#timeline-container .timeline-node .action { display:none; }
#timeline-container .timeline-node .meta { float:left; width:72px; margin-right:14px; text-align:center; }
#timeline-container .timeline-node .content { float:left; width:494px; }
#timeline-container .timeline-node .intro { background-color:none; }
#timeline-container .timeline-node:hover { background:rgba(0,132,180,0.1); border-bottom:1px solid #BBD8E9; border-top:1px solid #BBD8E9; }
#timeline-container .timeline-node:hover .action { display:block; }
#timeline-container .timeline-node:hover .intro { background:#fff; }
#header-action { float:right; margin-top:-30px; }
#header-post { margin:0; }
#header-post h2 { font-size:15px; color:#bfbfbf; }
#header-post textarea { margin-bottom:14px; }
#header-post-action { height:29px; }
#header-post-action a { line-height:29px; }
#main .hero-unit { padding:25px;border:1px #f0f0f0 solid }
#main .hero-unit p { font-size:13px; line-height:18px; font-weight:normal; }
#main #profile { margin-top:22px; }
ul.list { list-style:none; margin:4px 0 0 0; padding-top:8px; border-top:1px #eee solid; }
ul.list:after { clear:both; content:'.'; visibility:hidden; display:block; line-height:0; }
ul.list .meta { float:left; margin-right:14px; text-align:center; }
ul.list .content { float:left; }
ul.list .content h4 { line-height:18px; }
ul.list .content p { margin-bottom:2px; }
#main ul.list>li { float:left; margin:0 10px 10px 0; width:300px; }
#main ul.list .meta { width:72px;  }
#main ul.list .content { width:194px; }
#side ul.list>li { float:left; width:280px; }
#side ul.list .meta { width:72px; }
#side ul.list .content { width:194px; }
#activity-type { margin-left:6px; }
#activity-type dt { margin:6px 0; }
#side-search .holding { margin-bottom:8px; }
#side-search .holding .holder { left:54px; top:10px; }
#side-search .search-input { padding:9px; width:215px; }
#side-search .add-on { padding:9px; }
.counter-block { float:left; border-right:1px solid #ccc; }
.counter-block:last-child { margin:0; padding:0; border:0 }
#side-counter { text-align:right; font-size:15px; padding:12px 8px; margin:12px 0; border-top:1px solid #eee; border-bottom:1px solid #eee; }
#side-counter:after { clear:both; content:'.'; visibility:hidden; display:block; line-height:0; }
.side-counter-block { width:60px; padding-right:16px; margin-right:16px; float:left; border-right:1px solid #eee; }
.side-counter-block:first-child { margin-left:12px; }
.side-counter-block:last-child { margin:0; padding:0; border:0; text-align:left; }
.side-counter-block .description { display:block; }
.inner-post .large-avatar { margin-left:-12px; }
.inner-post .holding { margin-bottom:12px; }
.inner-post .holding>input, .inner-post>select { padding:9px; }
.inner-post>select { height:37px; line-height:37px; }
.inner-post .holder { left:10px; line-height:38px; }
.inner-post label { width:60px; }
.inner-post .control-group>label { width:60px; }
.inner-post .controls { margin-left:80px; }
.inner-post textarea { min-height:80px; width:500px; }
.inner-post .datetime input { width:120px; }
.inner-post .form-actions { padding-left:80px; }
.inner-post .controls ul { list-style:none; margin:0; }
.inner-post .controls ul label { float:none; width:auto; line-height:18px; }
.inner-post .controls ul label input { vertical-align:text-top; }
#side-activity-invition .holding { margin-bottom:8px; }
#side-activity-invition input { padding:9px; width:225px; }
#side-activity-invition .add-on { padding:9px; }
#side-activity-invition .holding .holder { left:44px; top:10px; }
#label-list { margin-top:8px; }
#label-list .label { text-transform:none; margin-right:4px; font-size:13px; font-weight:normal; }
#label-list .label-close { cursor:pointer; font-size:14px; }
.label.group { background:#558ca9; }
.label.group:before { content:' [组织] '}
.member-actions, .activity-actions { width:115px; }
.member-actions .btn-group, .activity-actions .btn-group { float:right; }
.modal textarea { width:400px; height:180px; resize:none; }


/* location */
.location-parent { list-style:none; border:1px solid #ccc; width:506px; margin:0 auto 12px; padding:8px; border-radius:4px; box-shadow:0 0 8px #ccc; }
.location-parent>li { display:inline; line-height:28px; }
.location-parent>li>a { padding:7px 10px; font-size:14px; }
.location-parent>li>a:hover, .location-parent>li>a.active { color:#fff; background:#0069D6; border-radius:15px; text-decoration:none; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); }

/* session */
#session-avatar { margin-right:2px; }
#session-avatar img { width:20px;height:20px;vertical-align:middle; }

/* accounts  */
#account { font-size:15px; }
#account .holding { margin-bottom:20px }
#account .holding>input { padding:9px; width:320px; }
#account .holding .holder { left:10px; line-height:38px; }
#account .holding .remember { padding:0; position:absolute; top:9px; left:272px; }
#account .holding p { margin:0; position:absolute; top:9px; width:130px; text-align:right; left:280px; }
#policy { width:340px; height:300px; background:#f0f0a0; padding:0; }
#policy iframe { width:340px;height:100% }

#account .input-prepend .holder{left:50px}
#account .input-prepend>input{width:280px}
#account .input-prepend .add-on{width:20px;font-size:20px;padding:9px}

span.help-inline.error{
  color: #b94a48;
}
input.error,select.error{
  color: #b94a48;
  border-color: #ee5f5b;
}
input.error:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/*
Uploadify v3.0.0
Copyright (c) 2010 Ronnie Garcia

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/

.uploadifyButton {
    background-color: #505050;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
.uploadify:hover .uploadifyButton {
    background-color: #808080;
}
.uploadifyQueueItem {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

/* Jcrop */

.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
  font-size: 0px;
  position: absolute;
  background: white url('/static/images/crop-holder.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
  font-size: 1px;
  width: 7px !important;
  height: 7px !important;
  border: 1px #eee solid;
  background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
  background: yellow;
}
.custom .jcrop-handle
{
  border-color: black;
  background-color: #C7BB00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#image-crop img { max-width:none; }

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}