/* general */
html { }
body { padding-top:40px; }
.container>.row { padding-top:20px; }
.container>.content {background-color:#fff; padding:20px; margin:0 -20px; border-radius:0 0 6px 6px; box-shadow:0 1px 2px rgba(0,0,0,.15); }
.page-header{ background-color:#f5f5f5; padding:20px 20px 10px; margin:-20px -20px 20px; }
.content>.row>.span6 { padding-left:19px; border-left:1px solid #eee; min-height:500px; width:320px; }
.holding { position:relative; padding:0; margin:0; }
.holding .holder { position:absolute; z-index:1; top:0; color:#999; }
.extra { text-align:center; margin-top:8px; padding:8px; border-top:1px solid #eee; }
ul.avatar { margin-left:0; }
ul.avatar a { margin-left:10px; padding:1px; }
img.avatar { padding:1px; border:1px solid #eee; border-radius:6px; }
.align-right { text-align:right }
.align-left { text-align:left }
.intro { background:#f7f7f7; padding:10px; border-radius:5px; border:1px #f0f0f0 solid }
.float-left { float:left }
.float-right { float:right }

/* front-general */
#frontpage { background-image:url(/static/images/b7f24bc1-c588-4527-bc81-533cb7aeeaff_5.jpg)}
#frontpage>.container { background-color: rgba(247,247,247,0.8); height:100%; padding:0 50px; border-radius:12px; box-shadow:0 0 8px rgba(0,0,0,.15); }

/* front-top */
#front-top { padding-bottom:20px; border-bottom:1px solid #ddd; width:100%; background:-moz-linear-gradient(center top , #ffffff 60%, #f7f7f7 100%) repeat scroll 0 0 transparent; background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); box-shadow:0 2px 2px #eee; }
#front-login { padding-top:28px; }
#front-login input[type=text], #front-login input[type=password] { width:125px; }
#front-login button { margin-left:1px; }
#front-login .remember { text-align:left; padding:0; }
#front-login .forgot { line-height:22px; margin-left:10px; }
#front-login .holding { display:inline; margin-bottom:8px; }
#front-login .holding .holder { left:7px;  line-height:16px; }

/* front-signup */
#front-signup { width:340px; font-size:15px; }
#front-signup input { width:320px; padding:9px; }
#front-signup .holding { margin-bottom:8px; }
#front-signup .holding .holder { left:10px;  line-height:38px; }
#front-signup .primary { width:auto; float:right; padding:5px 14px 6px 14px; }

/* front-bottom */
#copyright { text-align:right; line-height:40px; }
#friends-link>h5 { float:left; line-height:40px; }
#friends-link>li>a:hover { color:#00438a; text-decoration:underline; }

/* inner-main */
#main .hero-unit { padding:25px;border:1px #f0f0f0 solid }
#main .hero-unit p { font-size:13px; line-height:18px; font-weight:normal; }
#main #profile { margin-top:22px; }

/* accounts  */
#account { font-size:15px; }
#account .holding { margin-bottom:20px }
#account .holding>input { padding:9px; width:320px; }
#account .holding .holder { left:10px; line-height:38px; }
#account .holding .remember { padding:0; position:absolute; top:9px; left:272px; }
#account .holding p { margin:0; position:absolute; top:9px; width:130px; text-align:right; left:280px; }
#policy { width:340px; height:300px; background:#f0f0a0; padding:0; }
#policy iframe{width:340px;height:100%}
#account #reset,#account #submit{width:120px;}