{% extends "groups/base.html" %}
{% load bootstrap %}
{% load gravatar %}
{% load topbar %}

{% block title %}管理组织{% endblock title %}

{% block subtitle %}室雅何须大，花香不在多{% endblock subtitle %}

{% block headeraction %}
<a href="/groups/{{ group.slug }}" class="btn btn-small">返回组织</a>
{% endblock headeraction %}

{% block main %}
<ul class="tabs nav nav-tabs">
    <li class="active"><a href="#tab-activity" data-toggle="tab" title="">活动</a></li>
    <li><a href="#tab-customization" data-toggle="tab" title="">定制</a></li>
    <li><a href="#tab-membership" data-toggle="tab" title="">成员</a></li>
    <li><a href="#tab-disband" data-toggle="tab" title="">解散组织</a></li>
</ul>
<form id="admin-group" class="form-horizontal inner-post" enctype="multipart/form-data" action="" method="post" accept-charset="utf-8">
{% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-activity">
            <div class="control-group">
                <div class="btn-group float-right">
                    <a href="#" class="btn disabled">{{ current_filter_name }} ({{ paginator.count }})</a>
                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="?filter=unapproved">未审核</a></li>
                        <li><a href="?filter=single">组织活动</a></li>
                        <li><a href="?filter=multiple">合作活动</a></li>
                        <li class="divider"></li>
                        <li><a href="?filter=all">全部活动</a></li>
                    </ul>
                </div>
            </div>
            <table class="table">
                {% for hostship in hostships.object_list %}
                {% with hostship.activity as activity %}
                <tr>
                    <td class="avatar">
                        <a href="/activities/{{ activity.pk }}"><img class="avatar" src="{{ activity.avatar }}" /></a>
                    </td>
                    <td>
                        <h4><a href="/activities/{{ activity.pk }}">{{ activity.title }}</a></h4>
                        <p>{{ activity.description|words:50 }}</p>
                    </td>
                    <td class="activity-actions">
                        <div class="btn-group" activity-id="{{ activity.pk }}">
                            {% if hostship.accepted and hostship.activity__host_groups__count == 1 %} 
                            <a href="#" class="btn btn-success" data-toggle="dropdown">
                                <i class="icon-star icon-white"></i>
                                组织活动
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">你想做什么？</a>
                                </li>
                            </ul>
                            {% else %}
                            {% ifequal hostship.accepted 1 %}
                            <a href="#" class="btn btn-primary" data-toggle="dropdown">
                                <i class="icon-star icon-white"></i>
                                合作活动
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="cancle-cooperation">撤销合作</a>
                                </li>
                            </ul>
                            {% else %}
                            <a href="#" class="btn" data-toggle="dropdown">
                                <i class="icon-star"></i>
                                未审核
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="accept-activity">审核通过</a>
                                </li>
                                <li>
                                    <a href="#" class="remove-activity">撤销活动</a>
                                </li>
                            </ul>
                            {% endifequal %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endwith %}
                {% empty %}
                <p>暂无活动，<a href="/activities/host">发起</a>一个？</p>
                {% endfor %}
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    {% if activities.has_previous %}
                    <li>
                        <a href="?page={{ activities.previous_page_number }}{{ current_filter_query }}">«</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">«</a>
                    </li>
                    {% endif %}
                    {{ activities.page_range }}
                    {% for val in paginator.page_range_slice %}
                    <li {% ifequal page val %}class="active"{% endifequal %}>
                        <a href="?page={{ val }}{{ current_filter_query }}">{{ val }}</a>
                    </li>
                    {% endfor %}
                    {% if paginator.page_range_slice|last < paginator.num_pages %}
                    <li class="disabled">
                        <a href="#">...</a>
                    </li>
                    <li>
                        <a href="?page={{ paginator.num_pages }}{{ current_filter_query }}" {% ifequal page val %}class="active"{% endifequal %}>{{ paginator.num_pages }}</a>
                    </li>
                    {% endif %}
                    {% if activities.has_next %}
                    <li>
                        <a href="?page={{ activities.next_page_number }}{{ current_filter_query }}" class="disabled">»</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">»</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="tab-pane fade in" id="tab-customization">
            <div class="row">
                <div class="span summary">
                    <div class="control-group">
                        <label class="control-label">头像</label>
                        <div class="controls">{% include "ajaxcrop.html" %}</div>
                    </div>
                    {{ form.avatar }}
                    {{ form.name|label:"名称" }}
                    {{ form.slug|label:"Slug" }}
                    {{ form.condition|label:"门槛" }}
                </div>
                <div class="span large-avatar avatar" style="text-align:center">
                    <img id="preview" class="avatar" src="{{ form.avatar.value }}" />
                </div>
            </div>
            {{ form.description|label:"简介" }}
            <div class="control-group">
                <label class="control-label">友情组织</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">@</span>
                        <input id="inform-input" type="text" request-type="group">
                        <textarea class="inform-list group" name="friend_groups" style="display:none;"></textarea>
                        <div id="label-list">
                            {% for friend_group in friend_groups %}
                            <span class="label group" value="{{ friend_group.pk }}" slug="{{ friend_group.slug }}">
                                {{ friend_group.name }}
                                <span class="label-close">×</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                {{ form.errors.}}
                {% if form.errors %}
                <ul class="errors">            
                {% for error in form.errors %}
                <li>
                {{ error }}
                </li>
                {% endfor %}
                </ul>
                {% endif %}
                <input class="btn btn-primary" type="submit" value="确认更改">
                <button class="btn" type="reset">取消</button>
            </div>
        </div>
        <div id="tab-friendgroups" class="tab-pane fade in">
            <div class="control-group">
                <label for="group-search" class="control-label"></label>
                <div class="controls">
                    <input id="group-search" class="input-medium search-query" type="text" />
                </div>
            </div>
        </div>
        <div id="tab-membership" class="tab-pane fade in">
            <div class="control-group">
                <label for="member-search" class="control-label">搜索成员</label>
                <div class="controls">
                    <input id="member-search" class="input-medium search-query" type="text">
                    <div class="btn-group float-right">
                        <a href="#" id="filter-current" class="btn disabled" filter="all">全部成员</a>
                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="filter-option" filter="unapproved">未审核</a></li>
                            <li><a href="#" class="filter-option" filter="member">成员</a></li>
                            <li><a href="#" class="filter-option" filter="admin">管理员</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="filter-option" filter="all">全部成员</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table id="member-search-result" class="table fade in">
                {% for membership in memberships %}
                {% with member=membership.user %}
                <tr>
                    <td class="avatar">
                        <img class="avatar" src="{% avatar member %}">
                    </td>
                    <td>
                        <h4>{{ member.last_name }}
                            <small>(<a href="/members/{{ member }}">{{ member }}</a>)</small>
                        </h4>
                        <p>{{ member.bio|default:"这个家伙很懒，什么都没有留下"|words:50 }}</p>
                    </td>
                    <td class="member-actions">
                        <div class="btn-group" user-id="{{ member.id }}">
                            {% ifequal membership.is_admin 1 %}
                            <a data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                <i class="icon-user icon-white"></i>
                                管理员
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_founder %} 
                                <li>
                                    <a href="#" class="revoke-admin">撤销管理员</a>
                                </li>
                                <li>
                                    <a href="#" class="remove-member">从组织中移除</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#">你想做什么？</a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endifequal %}
                            {% if not membership.is_admin and membership.is_approved %}
                            <a data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                                <i class="icon-user icon-white"></i>
                                成员
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% ifequal is_founder 1  %}                                     
                                <li>
                                    <a href="#" class="grant-admin">设为管理员</a>
                                </li>
                                {% endifequal %}
                                <li>
                                    <a href="#" class="remove-member">从组织中移除</a>
                                </li>
                            </ul>
                            {% endif %}
                            {% if not membership.is_approved %}
                            <a data-toggle="dropdown" class="btn btn dropdown-toggle">
                                <i class="icon-user"></i>
                                未审核
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="approve-member">批准加入</a>
                                </li>
                                {% ifequal is_founder 1  %}                                     
                                <li>
                                    <a href="#" class="grant-admin">设为管理员</a>
                                </li>
                                {% endifequal %}
                                <li>
                                    <a href="#" class="remove-member">从组织中移除</a>
                                </li>
                            </ul>
                           {% endif %}
                    </td>
                </tr>
                {% endwith %}
                {% empty %}
                <tr class="group-buttons">
                    <td class="avatar">
                        <img class="avatar" src="/static/images/no_avatar.png">
                    </td>
                    <td>
                        <h4>暂无成员</h4>
                        <p><a href="/messages/compose/">发站内信</a>邀请好友？</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="tab-disband" class="tab-pane fade in">
            <p class="align-center"><a href="#disband-modal" class="btn btn-danger btn-large" data-toggle="modal">解散 {{ form.name.value }}</a></p>
            <p class="align-center">权力越大，责任越大 :)</p>
            <div id="disband-modal" class="modal fade">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>确认解散</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>组织解散后不可恢复</li>
                        <li>组织活动会被转换为活动发起人的个人活动</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/groups/{{ form.slug.value }}/disband">确认解散</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock main %}

{% block side %}
{% topbar my_groups subnav.html %}
{% endblock side %}