{% extends "groups/base.html" %}

{% block title %}组织与团队{% endblock title %}

{% block main %}
            <div class="hero-unit">
                <div class="row">
                    <div class="span3">
                        <img src="http://placehold.it/150x150" class="avatar" alt="" />
                    </div>
                    <div class="span6">
                        <h2>组织名称</h2>
                        <p>然大情證冷看；裡子時紀且易、我是問馬戰未，樹但哥有分山們友銀基。最老頭住……便要銷保給陸細談，務日師野了點最果不灣？集氣的唱就前不臺，口解車魚子用時識時單代變山有於生刻體整性主經持加接來給問林頭型：天家真兩始才於對間常出北，進後格，書驚心水語言業商怎清場。視的小綠灣下一……試過解，易元要黨那聲府報數在修紅臺物到當。</p>
                        <p class="align-right">
                            <a href="#" class="btn primary">详细信息</a>
                        </p>
                    </div>
                </div>
            </div>
            <h3>活跃组织</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        </td>
                        <td>
                            <h4>组织名称 
                            <small>(12)</small></h4>
                            <p>院教野子領過氣林陸開！這知酒到李，無落足不把的果女里大座的的覺輕趣、醫是死上家怎度我門打打營謝別人少候朋早來離基？中真經一片要這，卻新電，者和常眼不非道負位以更基流分果？灣體水隊、父實會自止關把正家館，此好例緊，教令考表生久備：內式業獎用為有樣投縣果響子情會實不的論相？</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        </td>
                        <td>
                            <h4>组织名称
                            <small>(16)</small></h4>
                            <p>能面題白者設子認。下本而一羅次開實下黨提陽寫度這廣西頭刻班個異輕小都我生社會都老單近即！房一親的感眼然親陸園是流廣傳一明育來遠像頭不人！主和來的母的難服施團何政總道麼人中經父始定公己且。</p>
                        </td>
                    </tr>
                </tbody>
            </table>
{% endblock main %}

{% block side %}
                        <h3>我管理的组织
                            <small>(233)</small></h3>
                        <ul class="media-grid avatar">
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                        </ul>
                        <h3>我参加的组织
                            <small>(42)</small></h3>
                        <ul class="media-grid avatar">
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                        </ul>
                        <h3>日历</h3>
                        <img src="http://placehold.it/320x200" />
{% endblock side %}
