{% extends "groups/base.html" %}
{% load bootstrap %}

{% block title %}组织与团队{% endblock title %}

{% block subtitle %}我们都是来自五湖四海，为了一个共同的革命目标，走到一起来了{% endblock subtitle %}

{% block headeraction %}
<a href="/groups/new" class="btn btn-small btn-info">创建小组</a>
<a href="/groups/random" class="btn btn-small ">随便转转</a>
{% endblock headeraction %}

{% block main %}
{% if top_group_display %}
<div class="hero-unit">
    <div class="row">
        <div class="span large-avatar avatar">
            <a href="{% url NearsideBindings.group.views.single top_group.slug %}"><img src="{{ top_group.avatar }}" class="avatar" alt="" /></a>
        </div>
        <div class="span5">
            <h2><a href="{% url NearsideBindings.group.views.single top_group.slug %}">{{ top_group }}</a>
                <small><a href="{% url NearsideBindings.group.views.members top_group.slug %}">({{ top_group_members }})</a></small></h2>
            <p style="margin-left:12px;">始于 {{ top_group.create_date|date:"Y年m月d日" }}</p>
            {{ top_group.description|linebreaks|first_p }}
            <p class="align-right">
                <a href="/groups/{{ top_group.slug }}" class="btn btn-primary btn-large">详细信息 »</a>
            </p>
        </div>
    </div>
</div>
{% endif %}
<h3>发现组织</h3>
<table class="table">
    <tbody>
        {% for group in groups.object_list %}
        <tr>
            <td class="avatar">
                <a href="{% url NearsideBindings.group.views.single group.slug %}"><img class="avatar" src="{{ group.avatar }}" /></a>
            </td>
            <td>
                <h4><a href="{% url NearsideBindings.group.views.single group.slug %}">{{ group }}</a>
                    <small><a href="{% url NearsideBindings.group.views.members group.slug %}">({{ group.members_count }})</a></small>
                    <small>始于 {{ top_group.create_date|date:"Y年m月d日" }}</small></h4>
                <p>{{ group.description|words:50 }}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination pagination-centered">
    <ul>
        {% if groups.has_previous %}
        <li>
            <a href="?page={{ groups.previous_page_number }}">«</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">«</a>
        </li>
        {% endif %}
        {{ groups.page_range }}
        {% for val in paginator.page_range_slice %}
        <li {% ifequal page val %}class="active"{% endifequal %}>
            <a href="?page={{ val }}">{{ val }}</a>
        </li>
        {% endfor %}
        {% if paginator.page_range_slice|last < paginator.num_pages %}
        <li class="disabled">
            <a href="#">...</a>
        </li>
        <li>
            <a href="?page={{ paginator.num_pages }}" {% ifequal page val %}class="active"{% endifequal %}>{{ paginator.num_pages }}</a>
        </li>
        {% endif %}
        {% if groups.has_next %}
        <li>
            <a href="?page={{ groups.next_page_number }}" class="disabled">»</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">»</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock main %}

{% block side %}
<form id="side-search" action="" method="post" accept-charset="utf-8">
    <div class="input-prepend holding">
        <span class="add-on">搜索</span>
        <input class="search-input" type="text" name="" value="" request-type="group" redirect-type="groups">
        <span class="holder">找到组织</span>
    </div>
</form>
<h3>我管理的组织
    <small>({{ managed_counter }})</small></h3>
{% if managed_counter %}
<ul class="media-grid avatar">
    {% for managed_group in managed_groups %}
    <li><a href="/groups/{{ managed_group.slug }}" title=""><img src="{{ managed_group.avatar }}" alt=""></a></li>
    {% endfor %}
</ul>
{% else %}
<p>尚未创建组织，<a href="/groups/new">创建小组</a></p>
{% endif %}
<h3>我参加的组织
    <small>({{ joined_counter }})</small></h3>
{% if joined_counter %}
<ul class="media-grid avatar">
    {% for joined_group in joined_groups %}
    <li><a href="/groups/{{ joined_group.slug }}" title=""><img src="{{ joined_group.avatar }}" alt=""></a></li>
    {% endfor %}
</ul>
{% else %}
<p>尚未加入组织，<a href="/groups/random">随便转转</a></p>
{% endif %}
{% endblock side %}
