{% extends "groups/base.html" %}
{% load gravatar %}

{% block title %}{{ group }}{% endblock title %}

{% block subtitle %}{% ifequal group.group_type.id 1 %}<span class="label label-important">实体组织</span>{% else %}<span class="label label-info">虚拟组织</span>{% endifequal %}{% endblock subtitle %}

{% block headeraction %}
{% if is_admin %}
<a href="/groups/{{ group.slug }}/admin" class="btn btn-small btn-danger">管理小组</a>
{% endif %}
<a href="/groups/{{ group.slug }}/members" class="btn btn-small">查看成员</a>  
{% endblock headeraction %}

{% block main %}
<div class="row">
    <div class="span large-avatar avatar">
        <img src="{{ group.avatar }}" class="avatar" alt="" />
    </div>
    <div class="span summary">
        <dl id="profile">
            <dt>创始人</dt>
            <dd><a href="/members/{{ group.founder }}">{{ group.founder.last_name }}</a></dd>
            <dt>始于</dt>
            <dd>{{ group.create_date|date:"Y-m-d" }}</dd>
            <dt>链接</dt>
            <dd><a href="http://www.cpcnews.cn/">http://www.cpcnews.cn/</a></dd>
        </dl>
    </div>
</div>
<p class="extra align-right">
    {% if is_member %}
    <a href="#" class="btn btn-primary disabled">已加入 {{ group }}</a>
    {% else %}
    <a id="join-group" href="#" class="btn btn-primary">加入 {{ group }}</a>
    {% endif %}
    <a href="#" class="btn">咻！</a>
</p>
<h3>简介</h3>
<p class="well">
{{ group.description|linebreaksbr|default:"这个组织的人都很懒，什么都没写" }}
</p>
<h3>最近活动</h3>
<div id="latest-activity" class="row">
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>活动名称</h4>
        <p>功加聽已！成利法認外表合人人了口麼樂上樂善不？望的大電你們子車大因管這算口覺收經須好口上告至燈衣跑，大統為一這本小不我生器血？四物天的理器就些觀流。深先先車。點的指會的型更到！念可一阿態相地康有部為施。家不故不去成我傳電跑？媽兩不長血長消人至動。</p>
    </div>
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>活动名称</h4>
        <p>條統北，就林親想王百樣說時華陽落富試。物委朋專學都而學阿的再未性？顧走世。裡紅待體演爸將線接者名布素一此高的時進質童看總原？</p>
    </div>
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>活动名称</h4>
        <p>兒它金的怎失是們新的是十日書地快如政星；精方長爭今親蘭位還！對續每；不至正要人後沒我長；節滿行是的你識書……及檢天數記許，難區。</p>
    </div>
</div>
{% endblock main %}

{% block side %}
<h3>成员
    <small>({{ member_counter }})</small></h3>
<ul id="members" class="avatar">
    {% for member in members %}
    <li><a href="/members/{{ member }}"><img src="{% avatar member %}" alt=""></a></li>
    {% endfor %}
</ul>
<h3>友情小组
    <small>(42)</small></h3>
<ul id="friend-groups" class="avatar">
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
</ul>
<h3>日历</h3>
<img src="http://placehold.it/320x200" />
{% endblock side %}
