{% extends "group/base.html" %}

{% block title %}Groups{% endblock title %}

{% block main %}
            <div class="hero-unit">
                <div class="row">
                    <div class="span3">
                        <img src="http://placehold.it/150x150" class="avatar" alt="" />
                    </div>
                    <div class="span6">
                        <h2>Group name</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="align-right">
                            <a href="#" class="btn primary">View detials</a>
                        </p>
                    </div>
                </div>
            </div>
            <h3>Active groups</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        </td>
                        <td>
                            <h4>Group name
                            <small>(12)</small></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        </td>
                        <td>
                            <h4>Group name
                            <small>(16)</small></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
{% endblock main %}

{% block side %}
                        <h3>My groups
                            <small>(233)</small></h3>
                        <ul class="media-grid avatar">
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                        </ul>
                        <h3>Groups you manage
                            <small>(42)</small></h3>
                        <ul class="media-grid avatar">
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                            <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                        </ul>
                        <h3>Calendar</h3>
                        <img src="http://placehold.it/320x200" />
{% endblock side %}