{% load topbar %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a href="#" class="brand">Trypsin</a>
                <ul class="nav">
                    <li><a href="#" class="{{ topbar|active:"frontpage" }}">Frontpage</a></li>
                    <li><a href="#" class="{{ topbar|active:"activities" }}">Activities</a></li>
                    <li><a href="#" class="{{ topbar|active:"groups" }}">Groups</a></li>
                    <li><a href="#" class="{{ topbar|active:"admin" }}">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>