<div class="row">
    <div class="span" style="width:410px;">
        <h3>{{ activity.title }}</h3>
        <dl>
            <dt>活动承办</dt>
            <dd>{{ activity.host_string|safe }}</dd>
            <dt>活动时间</dt>
            <dd>{{ activity.begin_time }} 至 {{ activity.end_time }}</dd>
            <dt>活动地点<dt>
            <dd>{{ activity.location.full_path }}</dd>
        </dl>
    </div>
    <div class="span large-avatar avatar">
        <a href="/activities/{{ activity.pk }}">
            <img src="{{ activity.avatar }}" />
        </a>
    </div>
</div>
{{ activity.description|linebreaks }}
<p>
    <a href="/activities/{{ activity.pk }}" class="btn btn-primary btn-large">详细信息...</a>
</p>