{% extends "activities/base.html" %}

{% block title %}活动{% endblock title %}

{% block subtitle %}一个不想趟过小河的人，自然不想远涉重洋{% endblock subtitle %}

{% block headeraction %}
<a href="/activities/create/" class="btn btn-small btn-info">发起活动</a>
<a href="/activities/random" class="btn btn-small ">随便转转</a>
{% endblock headeraction %}

{% block main %}
<div class="hero-unit">
    <div class="row">
        <div class="span large-avatar avatar">
            <img src="http://placehold.it/150x150" class="avatar" alt="" />
        </div>
        <div class="span5">
            <h2>寒假
                <small><a href="">教育部</a></small>
            </h2>
            <p>在中国，学校通常将每个学年分为上、下两个学期。上学期从秋季九月份开始，到第二年的除夕之前，各学校开始放假，而这个假期正处于中国寒冷的冬季,被称为寒假。假期一共有20天,中小学是30天左右，但在寒冷的中国东北地区，有时会达到45天左右。</p>
            <p class="align-right">
                <a href="/activities/single" class="btn btn-primary">详细信息</a>
            </p>
        </div>
    </div>
</div>
<h3>最新活动</h3>
<ul class="list">
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
</ul>
{% endblock main %}

{% block side %}
<form id="side-search" action="" method="post" accept-charset="utf-8">
    <div class="input-prepend holding">
        <span class="add-on">搜索</span>
        <input class="search-input" type="text" name="" value="">
        <span class="holder">活动名称、地点、组织</span>
    </div>
</form>
<h3>活动分类</h3>
<dl id="activity-type">
    <dt>类型</dt>
    {% for val in types %}
    <dd>{{ val }}</dd>
    {% endfor %}
    <dt>地点</dt>
    {% for location in location_roots %}
    <dd>{{ location }}</dd>
    {% endfor %}
</dl>
<h3>热门活动</h3>
<ul class="list">
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
</ul>
{% endblock side %}
