{% extends "activities/base.html" %}
{% load bootstrap %}

{% block title %}活动{% endblock title %}

{% block subtitle %}一个不想趟过小河的人，自然不想远涉重洋{% endblock subtitle %}

{% block headeraction %}
<a href="/activities/create/" class="btn btn-small btn-info">发起活动</a>
<a href="/activities/random" class="btn btn-small ">随便转转</a>
{% endblock headeraction %}

{% block main %}
<div class="hero-unit">
    <div class="row">
        {% if top_activity %}
        <div class="span large-avatar avatar">
            <img src="{{ top_activity.avatar }}" class="avatar" alt="" />
        </div>
        <div class="span5">
            <h2>{{ top_activity.title }}
                <small>{% for group in top_activity_groups %}<a href="/groups/{{ groups.slug }}">{{ group }}</a>{% endfor %}</small>
            </h2>
            <p style="margin-left:12px;">开始于 {{ top_activity.begin_time|date:"Y年m月d日 H:m" }}，在 {{ top_activity.location.name }} </p>
            <p>{{ top_activity.description|linebreaks|first_p }}</p>
            <p class="align-right">
                <a href="/activities/{{ top_activity.id }}" class="btn btn-primary">详细信息</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<h3>最新活动</h3>
<ul class="list">
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
</ul>
{% endblock main %}

{% block side %}
<form id="side-search" action="" method="post" accept-charset="utf-8">
    <div class="input-prepend holding">
        <span class="add-on">搜索</span>
        <input class="search-input" type="text" name="" value="">
        <span class="holder">活动名称、地点、组织</span>
    </div>
</form>
<h3>活动分类</h3>
<dl id="activity-type">
    <dt>类型</dt>
    {% for val in types %}
    <dd>{{ val }}</dd>
    {% endfor %}
    <dt>地点</dt>
    {% for location in location_roots %}
    <dd>{{ location }}</dd>
    {% endfor %}
</dl>
<h3>热门活动</h3>
<ul class="list">
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
    <li class="activity">
        <div class="meta">
            <img src="http://placehold.it/64x64" class="avatar" alt="" />
            <p>1234 人参加</p>
        </div>
        <div class="content">
            <h4>活动名称
            <small><a href="#">发起组织</a></small></h4>
            <p>于 yyyy-mm-dd 在 somewhere</p>
            <p>广大人民群众喜闻乐见的</p>
        </div>
    </li>
</ul>
{% endblock side %}
