{% extends "activities/base.html" %}
{% load bootstrap %}

{% block title %}发起活动{% endblock title %}

{% block subtitle %}生活的理想，就是为了理想的生活{% endblock subtitle %}

{% block main %}
<form id="host-activity" class="inner-post" enctype="multipart/form-data" action="activities/host" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="row">
        <div class="span7">
            {{ form.image|label:"头图|id_image" }}
            {{ form.title|label:"标题|id_title" }}
            {{ form.types|label:"类型|id_types" }}
            <div class="clearfix datetime">
                <label for="">时间</label>
                <div class="input">
                {{ form.start }} 至
                {{ form.end }}
            </div></div>
            {{ form.location|label:"地点|id_location" }}
        </div>
        <div class="span3">
            <img src="http://placehold.it/150x150" class="avatar" />
        </div>
    </div>
    {{ form.description|label:"介绍|id_description" }}
    <div class="actions">
        <input class="btn primary" type="submit" value="发起活动">
        <button class="btn" type="reset">预览</button>
        <button class="btn" type="reset">取消</button>
    </div>
</form>
{% endblock main %}

{% block side %}
<h4>银河系活动发布指南</h4>
<ul>
    <li>头图 - 聊胜于无</li>
    <li>标题 - 少即是多</li>
    <li>介绍 - 质胜于文则野，文胜于质则史</li>
    <li>实质 - Mostly harmless</li>
</ul>
<h4>独乐乐不如众乐乐</h4>
<form id="side-activity-invition" action="" method="post" accept-charset="utf-8">
    <div class="input-prepend holding">
        <span class="add-on">@</span>
        <input class="inform-input" type="text" name="" value="">
        <span class="holder">邀请好友</span>
    </div>
</form>
{% endblock side %}