{% extends "activities/base.html" %}

{% block title %}{{ activity.title }}{% endblock title %}

{% block subtitle %}by {% for hostship in fullhostship %}<a href="/members/{{ hostship.host }}">{{ hostship.host.last_name }}</a>@{% for group in hostship.groups %}<a href="/groups/{{ group.slug }}">{{ group }}{% if not forloop.last %},{% endif %}</a>{% endfor %}{% endfor %}{% endblock subtitle %}

{% block headeraction %}
<a href="#" class="btn small danger">编辑活动</a>
{% endblock headeraction %}

{% block main %}
<div class="row">
    <div class="span large-avatar avatar">
        <img src="{{ activity.avatar }}" class="avatar" alt="" />
    </div>
    <div class="span summary">
        <dl id="profile">
            <dt>时间</dt>
            <dd>{{ activity.begin_time|date:"Y-m-d H:m" }} ~ {{ activity.end_time|date:"Y-m-d H:m" }}</dd>
            <dt>地点</dt>
            <dd>{{ activity.location.name }}</dd>
            <dt>类型</dt>
            <dd>{{ activity.activity_type }}</dd>
        </dl>
    </div>
</div>
<p class="extra align-right">
    <a href="#" class="btn btn-primary">参加 {{ activity.title }}</a>
    <a href="#" class="btn">咻！</a>
</p>
<h3>简介</h3>
<p class="well">{{ activity.description|linebreaksbr|default:"发起这个活动的人很懒，什么都没写" }}</p>
<h3>相关活动</h3>
<div id="latest-activity" class="row">
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>期末考试</h4>
        <p>一学期即将结束时，学校通过试卷的形式对各门学科该学期应掌握的知识的检测。</p>
    </div>
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>大学英语等级考试</h4>
        <p>全国大学英语等级考试是教育部主管的一项全国性的教学考试，其目的是对大学生的实际英语能力进行客观、准确的测量，为大学英语教学提供服务。 大学英语考试也是一项大规模标准化考试，在设计上必须满足教育测量理论对大规模标准化考试的质量要求，是一个“标准关联的常模参照测验”。
</p>
    </div>
    <div class="span3">
        <img src="http://placehold.it/150x100" alt="" />
        <h4>期中考试</h4>
        <p>为了检验学生半学期所学的知识所进行的一次考试,有利于学生比较正式地检验一次自己即时学习的水平，根据这个成绩，学生可及时调整学习心态和方法，更有效率的进行下一阶段的学习。 </p>
    </div>
</div>
{% endblock main %}

{% block side %}
<h3>参与者
    <small>(31415926)</small></h3>
<ul class="media-grid avatar">
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
</ul>
<h3>友情小组
    <small>(42)</small></h3>
<ul class="media-grid avatar">
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
    <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
</ul>
<h3>日历</h3>
<img src="http://placehold.it/280x175" />
{% endblock side %}