{% extends "activities/base.html" %}
{% load gravatar %}

{% block title %}{{ activity.title }}{% endblock title %}

{% block subtitle %}{{ activity.host_string|safe }}{% endblock subtitle %}

{% block headeraction %}
{% if is_participator %}
<a href="#upload-activity-photo-modal" id="show-upload-modal" class="btn btn-small btn-info" data-toggle="modal">上传照片</a>
{% else %}
<a href="#upload-activity-photo-modal" id="show-upload-modal" class="btn btn-small btn-info hide" data-toggle="modal">上传照片</a>
{% endif %}
{% if is_host %}
<a href="/activities/{{ activity.pk }}/edit" class="btn btn-small btn-danger">编辑活动</a>
{% endif %}
{% endblock headeraction %}

{% block main %}
<div class="row">
    <div class="span large-avatar avatar">
        <img src="{{ activity.avatar }}" class="avatar" alt="" />
    </div>
    <div class="span summary">
        <dl id="profile">
            <dt>时间</dt>
            <dd>{{ activity.begin_time|date:"Y-m-d H:i" }} ~ {{ activity.end_time|date:"Y-m-d H:i" }}</dd>
            <dt>地点</dt>
            <dd>{{ activity.location.name }}</dd>
            <dt>类型</dt>
            <dd>{{ activity.activity_type }}</dd>
        </dl>
    </div>
</div>
<p class="extra align-right">
    {% if is_participator or is_host %}
    <a href="#" class="btn btn-primary disabled">已参加 {{ activity.title }}</a>
    {% else %}
    <a id="participate-activity" href="#" class="btn btn-primary">参加 {{ activity.title }}</a>
    {% endif %}
    <a href="#" class="btn">咻！</a>
</p>
<h3>简介</h3>
<p class="well">
    {{ activity.description|linebreaksbr|default:"发起这个活动的人很懒，什么都没写" }}
</p>
<h3>活动相册</h3>
<div id="activity-album" class="carousel slide">
    <div class="carousel-inner">
        {% for photo in photos %}            
        <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ photo.source }}" width="620px" />
            <div class="carousel-caption">
                <p>{{ photo.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" data-slide="prev" href="#activity-album">‹</a>
    <a class="right carousel-control" data-slide="next" href="#activity-album">›</a>
</div>
<form id="upload-activity-photo-form" action="" method="post" class="form-horizontal inner-post">
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="/static/js/photouploader.js"></script>
<div id="upload-activity-photo-modal" class="modal fade hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>上传照片</h3>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <div id="save-photo-error" class="alert alert-error hide" data-alert="alert">
            保存时发生错误，请重试或联系管理员
        </div>
        <input id="upload-activity-photo-input" type="file" />
        <ul id="upload-activity-photo-preview" class="thumbnails">
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <a href="#" id="save-activity-photo" class="btn btn-primary">保存照片</a>
    </div>
</div>
</form>
{% endblock main %}

{% block side %}
<h3>参与者
    <small>({{ activity_members_count }})</small></h3>
<ul id="participators" class="avatar">
    {% for member in activity_members %}
    <li><a href="/members/{{ member }}"><img src="{% avatar member %}" alt=""></a></li>
    {% empty %}
    <p>暂时没有成员</p>
    {% endfor %}
</ul>
<h3>附近的活动</h3>
<ul class="list">
    {% for activity in related_activities %}
    <li class="activity">
        <div class="meta avatar">
            <a href="/activities/{{ activity.pk }}"><img src="{{ activity.avatar }}" class="avatar" alt="" /></a>
            <p>{{ activity.members__count }} 人参加</p>
        </div>
        <div class="content">
            <h4><a href="/activities/{{ activity.pk }}">{{ activity.title }}</a><br />
            <small>{{ activity.host_string|safe }}</small></h4>
            <p>于 {{ activity.begin_time|date:"Y-m-d"}}</p>
            <p>在 {{ activity.location.full_path|safe }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock side %}