{% extends "activities/base.html" %}
{% load bootstrap %}
{% load topbar %}

{% block title %}{% if by == 'location' %}活动在{{ location.name }}{% else %}所有{{ activity_type.title }}{% endif %}{% endblock title %}

{% block main %}
<ul class="list" style="border:0;padding:0;margin:0;">
    {% for activity in activities.object_list %}
    <li class="activity">
        <div class="meta avatar">
            <a href="/activities/{{ activity.id }}"><img src="{{ activity.avatar }}" class="avatar" alt="" /></a>
            <p>{{ activity.members__count }} 人参加</p>
        </div>
        <div class="content">
            <h4><a href="/activities/{{ activity.id }}">{{ activity.title }}</a><br />
            <small>{{ activity.host_string|safe }}</small></h4>
            <p>于 {{ activity.begin_time|date:"Y-m-d"}}</p>
            <p>在 {{ activity.location.full_path|safe }}</p>
        </div>
    </li>
    {% empty %}
    {% if by == 'location' %}
    <p>{{ location.name }}没有发生过任何活动</p>
    {% else %}
    <p>没有任何{{ activity_type.name }}</p>
    {% endif %}
    {% endfor %}
</ul>
<div class="pagination pagination-centered">
    <ul>
        {% if activitiess.has_previous %}
        <li>
            <a href="?page={{ activitiess.previous_page_number }}">«</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">«</a>
        </li>
        {% endif %}
        {{ activitiess.page_range }}
        {% for val in paginator.page_range_slice %}
        <li {% ifequal page val %}class="active"{% endifequal %}>
            <a href="?page={{ val }}">{{ val }}</a>
        </li>
        {% endfor %}
        {% if paginator.page_range_slice|last < paginator.num_pages %}
        <li class="disabled">
            <a href="#">...</a>
        </li>
        <li>
            <a href="?page={{ paginator.num_pages }}" {% ifequal page val %}class="active"{% endifequal %}>{{ paginator.num_pages }}</a>
        </li>
        {% endif %}
        {% if activitiess.has_next %}
        <li>
            <a href="?page={{ activitiess.next_page_number }}" class="disabled">»</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">»</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock main %}

{% block side %}
<h3>热门活动</h3>
<ul class="list">
    {% for activity in hot_activities %}
    <li class="activity">
        <div class="meta avatar">
            <a href="/activities/{{ activity.id }}"><img src="{{ activity.avatar }}" class="avatar" alt="" /></a>
            <p>{{ activity.members_count }} 人参加</p>
        </div>
        <div class="content">
            <h4><a href="/activities/{{ activity.id }}">{{ activity.title }}</a><br />
            <small>{{ activity.host_string|safe }}</small></h4>
            <p>于 {{ activity.begin_time|date:"Y-m-d"}}</p>
            <p>在 {{ activity.location.full_path|safe }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock side %}
