<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" />
    {% endblock %}
    {% block js %}    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
