<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HexYou{% endblock %} - 嘿咻</title>
        {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/jquery-ui.css" />
        {% endblock %}
        {% block js %}
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-twipsy.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-popover.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-alerts.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-tabs.js"></script>
        <script type="text/javascript" src="/static/js/functions.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}
        {% endblock %}
        </header>
        <div class="container">
            {% block container %}
            <footer id="front-footer">
            {% block footer %}
            <div class="container">
                <ul id="friends-link" class="nav">
                    <h5>友情链接</h5>
                    <li><a href="#">Example.com</a></li>
                    <li><a href="#">Example.com</a></li>
                    <li><a href="#">Example.com</a></li>
                    <li><a href="#">Example.com</a></li>
                    <li><a href="#">Example.com</a></li>
                    <li><a href="#">Example.com</a></li>
                </ul>
                <p id="copyright">&copy; Heixiu 2011</p>
            </div>
            {% endblock %}
            </footer>
            {% endblock %}
        </div>
    </body>
</html>
