{% extends "base.html" %}

{% load topbar %}

{% block header %}
{% topbar home %}
{% endblock %}

{% block title %}时间线{% endblock title %}

{% block container %}
<div class="content">
    <div class="row">
        <div id="main" class="span8">
            <div id="timeline-header" class="page-header">
                <form id="header-post" action="" method="get" accept-charset="utf-8">
                    <h2>独乐乐不如众乐乐</h2>
                    <textarea name="" class="span8"></textarea>
                    <div id="header-post-action">
                        <div class="float-left">
                            <a href="#">地点</a>
                            <a href="#">日期</a>
                            <a href="#">图片</a>
                        </div>
                        <div class="float-right">
                            <input type="submit" name="" class="btn" value="发布" />
                        </div>
                    </div>
                </form>
             </div>
             <div id="timeline-container">
                 <div class="timeline-node">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>6 人参加</p>
                        <p class="action"><a href="#" class="small btn ">参加</a>
                        <p class="action"><a href="#" class="small btn btn-primary">咻！</a></p>
                    </div>
                    <div class="content">
                        <h4>六方外长非正式会晤
                            <small><a href="#">六方会谈主席国</a></small>
                        </h4>
                        <p>于 2008年7月23日 在 新加坡</p>
                        <p>谈判</p>
                        <p class="intro">六方会谈的目的是解决朝鲜核危机。2002年朝鲜宣布要发展核武器，希望和美国进行双方会谈。美国拒绝这个会谈方法，觉得会谈应该包含所有有关的国家。两国最后同意六国会谈的方法，但是也同意在会谈中间有朝鲜和美国直接会谈的可能。 </p>
                    </div>
                 </div>
                 <div class="timeline-node">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                        <p class="action"><a href="#" class="small btn btn-primary">参加</a>
                        <p class="action"><a href="#" class="small btn">咻！</a></p>
                    </div>
                    <div class="content">
                        <h4>寒假
                            <small><a href="#">教育部</a></small>
                        </h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                        <p class="intro">在中国，学校通常将每个学年分为上、下两个学期。上学期从秋季九月份开始，到第二年的除夕之前，各学校开始放假，而这个假期正处于中国寒冷的冬季,被称为寒假。假期一共有20天,中小学是30天左右，但在寒冷的中国东北地区，有时会达到45天左右。</p>
                    </div>
                 </div>
                 <div class="timeline-node">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                        <p class="action"><a href="#" class="small btn btn-primary">参加</a>
                        <p class="action"><a href="#" class="small btn">咻！</a></p>
                    </div>
                    <div class="content">
                        <h4>大学英语等级考试
                            <small><a href="#">教育部</a></small>
                        </h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                        <p class="intro">全国大学英语等级考试是教育部主管的一项全国性的教学考试，其目的是对大学生的实际英语能力进行客观、准确的测量，为大学英语教学提供服务。 大学英语考试也是一项大规模标准化考试，在设计上必须满足教育测量理论对大规模标准化考试的质量要求，是一个“标准关联的常模参照测验”。</p>
                    </div>
                 </div>
                 <div class="timeline-node">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                        <p class="action"><a href="#" class="small btn btn-primary">参加</a>
                        <p class="action"><a href="#" class="small btn">咻！</a></p>
                    </div>
                    <div class="content">
                        <h4>期末考试
                            <small><a href="#">教育部</a></small>
                        </h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                        <p class="intro">一学期即将结束时，学校通过试卷的形式对各门学科该学期应掌握的知识的检测。</p>
                    </div>
                 </div>
             </div>
        </div>
        <div id="side" class="span4">
            <h2>欢迎，<a href="#">Kim Jong II</a></h2>
            <div id="side-counter">
                <div class="side-counter-block">
                    <span class="description">参加活动</span>
                    <a href="#" class="count">1234</a>
                </div>
                <div class="side-counter-block">
                    <span class="description">发起活动</span>
                    <a href="#" class="count">56</a>
                </div>
                <div class="side-counter-block">
                    <span class="description">咻！</span>
                    <a href="#" class="count">789</a>
                </div>
            </div>
            <form id="side-search" action="" method="post" accept-charset="utf-8">
                <div class="input-prepend holding">
                    <span class="add-on">搜索</span>
                    <input class="search-input" type="text" name="" value="">
                    <span class="holder">活动，组织，发现其它</span>
                </div>
            </form>
            <h3>日历</h3>
            <img src="http://placehold.it/280x175" />
            <h3>我的组织
                <small>(233)</small></h3>
            <ul class="media-grid avatar">
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
                <li><a href=""><img src="http://placehold.it/64x64" alt=""></a></li>
            </ul>
            <h3>推荐活动</h3>
            <ul class="list">
                <li class="activity">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                    </div>
                    <div class="content">
                        <h4>活动名称
                        <small><a href="#">发起组织</a></small></h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                    </div>
                </li>
                <li class="activity">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                    </div>
                    <div class="content">
                        <h4>活动名称
                        <small><a href="#"></a></small></h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                    </div>
                </li>
                <li class="activity">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                    </div>
                    <div class="content">
                        <h4>活动名称
                        <small><a href="#">发起组织</a></small></h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                    </div>
                </li>
                <li class="activity">
                    <div class="meta">
                        <img src="http://placehold.it/64x64" class="avatar" alt="" />
                        <p>1234 人参加</p>
                    </div>
                    <div class="content">
                        <h4>活动名称
                        <small><a href="#">发起组织</a></small></h4>
                        <p>于 yyyy-mm-dd 在 somewhere</p>
                        <p>广大人民群众喜闻乐见的</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p id="copyright">&copy; HexYou 2011</p>
    </div>
</footer>
{% endblock container %}