{% extends "base.html" %}

{% block title %}NearsideBindings | index{% endblock %}

{% block header %}
<div id="front-top">
    <div class="container">
        <div class="row">
            <div class="span8">
                <img src="static/images/logo.png" alt="Trypsin" />
            </div>
            <div class="span6 offset2" id="front-login">
                <form action="login" method="post" accept-charset="utf-8">{% csrf_token %}
                    <div class="holding">
                        <input type="text" name="username" />
                        <span class="holder">用户名</span>
                    </div>
                    <div class="holding">
                        <input type="password" name="password" />
                        <span class="holder">密码</span>
                    </div>
                    <button type="submit" class="btn primary">登陆</button>
                    <label class="remember">
                        <input type="checkbox" name="remember_me" />
                        <span>记住我</span>
                    </label>
                    <p><a class="forgot" href="forgot">忘记密码？</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block container %}
    <div class="row">
        <div class="span8">
            <h2>头条</h2>
                <ul class="media-grid" id="front-promotion">
                    <li class="display-all clearfix">
                        <a href="#"><img src="http://placehold.it/90x90" alt="" class="thumbnail"></a>
                        <p>此处做一个slideshow如何？近加送著建會，應然家次司。你異亞性程指，們標腳然生大所基那。今爭未戲向易世心感然，把度媽來實做終美。現的法可情西爭自我的者情圖去以的員細準，想不自引往！</p>
                    </li>
                    <li class="display-image-only">
                        <a href="#"><img src="http://placehold.it/90x90" alt="" class="thumbnail"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </li>
                    <li class="display-image-only">
                        <a href="#"><img src="http://placehold.it/90x90" alt="" class="thumbnail"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </li>
                    <li class="display-image-only">
                        <a href="#"><img src="http://placehold.it/90x90" alt="" class="thumbnail"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </li>
                    <li class="display-image-only">
                        <a href="#"><img src="http://placehold.it/90x90" alt="" class="thumbnail"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </li>
                </ul>
        </div>
        <div class="span6 offset2">
            <h2>加入我们</h2>
            <form action="signup" method="post" accept-charset="utf-8" id="front-signup">{% csrf_token %}
                <input  type="hidden" value="from_mainpage" name="from_mainpage"/>
                <div class="holding">
                    <input type="text" name="fullname" class="span6" />
                    <span class="holder">全名</span>
                </div>
                <div class="holding">
                    <input type="email" name="email" class="span6" />
                    <span class="holder">邮箱</span>
                </div>
                <div class="holding">
                    <input type="text" name="student_num" class="span6" />
                    <span class="holder">学号</span>
                </div>
                <input type="submit" name="submit" value="注册" class="btn primary" />
            </form>
        </div>
    </div>
{% endblock %}
