{% extends "base.html" %}

{% block title %}NearsideBindings | index{% endblock %}

{% block header %}
<div id="front-top">
    <div class="container">
        <div class="row">
            <div class="span8">
                <img src="static/images/logo.png" alt="Trypsin" />
            </div>
            <div class="span6 offset2" id="front-login">
                <form action="login" method="post" accept-charset="utf-8">{% csrf_token %}
                    <div class="holding">
                        <input type="text" name="username" />
                        <span class="holder">用户名</span>
                    </div>
                    <div class="holding">
                        <input type="password" name="password" />
                        <span class="holder">密码</span>
                    </div>
                    <button type="submit" class="btn primary">登陆</button>
                    <label class="remember">
                        <input type="checkbox" name="remember_me" />
                        <span>记住我</span>
                    </label>
                    <p><a class="forgot" href="forgot">忘记密码？</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block container %}
    <div class="row">
        <div class="span8">
            <h2>头条</h2>
            <ul>
                <li>看大格作們傳力集說：雄才結除們歷說天建！麼這今民體生，時之了特清，只長客藝；重三是庭切們現無或？</li>
                <li>做想生的合的卻真經族不客去中住強中消報山素近現地路子西河是一識民合子汽器結到子，場對晚之變緊，童養活能？作成一得團有園是是們為。中詩各，水星品得制銀學眼喜著。</li>
                <li>民我系一寫死可費時認到一電？員我特中院女所清個天，經論旅……以快狀。</li>
                <li>爱小中叫。母孩留大香友片學而器醫師手車，石衣成著師議親現，南賽發工從系長過行光，了可超字會冷受大往進灣總受。</li>
                <li>個題答洲提女車告報百由舉量結相拿進笑個結了斷藝一響馬年原比。</li>
            </ul>
        </div>
        <div class="span6 offset2">
            <h2>加入我们</h2>
            <form action="signup" method="post" accept-charset="utf-8" id="front-signup">{% csrf_token %}
                <div class="holding">
                    <input type="text" name="username" class="span6" />
                    <span class="holder">用户名</span>
                </div>
                <div class="holding">
                    <input type="email" name="email" class="span6" />
                    <span class="holder">邮箱</span>
                </div>
                <div class="holding">
                    <input type="password" name="password" class="span6" />
                    <span class="holder">密码</span>
                </div>
                <input type="submit" name="submit" value="注册" class="btn primary" />
            </form>
        </div>
    </div>
{% endblock %}
