{% extends "base.html" %}
{% load topbar %}

{% block header %}
{% topbar home %}
{% endblock %}


{% block container %}
<div class="content">
    <div class="page-header">
        <h1>{% block title %}{% endblock title %}
            <small>{% block subtitle %}{% endblock subtitle %}</small></h1>
        <div id="header-action">{% block headeraction %}{% endblock headeraction %}</div>
    </div>
    {% block content %}
    <div class="row">
        <div id="main" class="span10">
            {% block main %}{% endblock main %}
        </div>
        <div id="side" class="span6">
            {% block side %}{% endblock side %}
        </div>
    </div>
    {% endblock content %}
</div>
<footer id="footer">
    {% block footer %}
    <div class="container">
        <ul id="friends-link" class="nav">
            <h5>友情链接</h5>
            <li><a href="#">Example.com</a></li>
            <li><a href="#">Example.com</a></li>
            <li><a href="#">Example.com</a></li>
            <li><a href="#">Example.com</a></li>
            <li><a href="#">Example.com</a></li>
            <li><a href="#">Example.com</a></li>
        </ul>
        <p id="copyright">&copy; HexYou 2011</p>
    </div>
    {% endblock %}
</footer>
{% endblock %}
