{% load topbar %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a href="/" class="brand">嘿咻</a>
                <ul class="nav">
                    <li class="{{ topbar|active:"home" }}"><a href="/home">时间线</a></li>
                    <li class="{{ topbar|active:"profile" }}"><a href="/profile">我的主页</a></li>
                    <li class="{{ topbar|active:"groups" }}"><a href="/groups">组织与团队</a></li>
                    <li class="{{ topbar|active:"activities" }}"><a href="/activities">活动</a></li>
                    {% block extranav %}
                    {% endblock extranav %}
                </ul>
                <ul class="nav secondary-nav">
                    <li id="session" class="menu">
                        <a href="#" class="dropdown-toggle">
                            <span id="session-avatar"><img src="/static/images/no_avatar.png" /></span>
                        </a>
                        <ul id="session-actions" class="dropdown-menu">
                            <li><a href="#" title="">设置</a></li>
                            <li><a href="#" title="">帮助</a></li>
                            <li><a href="#" title="">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
