{% load topbar %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a href="#" class="brand">NearsideBindings</a>
                <ul class="nav">
                    <li class="{{ topbar|active:"home" }}"><a href="/home">时间线</a></li>
                    <li class="{{ topbar|active:"profile" }}"><a href="/profile">我的主页</a></li>
                    <li class="{{ topbar|active:"groups" }}"><a href="/groups">组织与团队</a></li>
                    <li class="{{ topbar|active:"activities" }}"><a href="/activities">活动</a></li>
                    {% block extranav %}
                    {% endblock extranav %}
                </ul>
            </div>
        </div>
    </div>
