{% load topbar %}
{% load gravatar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">嘿咻</a>
                <ul class="nav">
                    <li class="{{ topbar|active:"home" }}"><a href="/timeline">时间线</a></li>
                    <li class="{{ topbar|active:"profile" }}"><a href="/profile">我的主页</a></li>
                    <li class="{{ topbar|active:"groups" }}"><a href="/groups">组织与团队</a></li>
                    <li class="{{ topbar|active:"activities" }}"><a href="/activities">活动</a></li>
                    {% block extranav %}
                    {% endblock extranav %}
                </ul>
                <ul class="nav pull-right">
                    <li id="session" class="dropdown" user="{{ user }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="session-avatar"><img src="{% small_avatar user %}" /></span>
                            {{ user.last_name }}
                            <b class="caret"></b>
                        </a>
                        <ul id="session-actions" class="dropdown-menu">
                            <li><a href="/messages" title="">站内信 ({{ messages_inbox_count }})</a></li>
                            <li><a href="/activities/my/hosted" title="">我的活动</a></li>
                            <li><a href="/groups/my" title="">我的组织</a></li>
                            <li><a href="/profile/edit" title="">设置</a></li>
                            <li><a href="/help" title="">帮助</a></li>
                            <li><a href="/logout" title="">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
