{% extends "messages/base.html" %} 
{% load gravatar %} 
{% load topbar %}

{% block title %}已发送{% endblock title %}

{% block main %} 
{% if message_list %} 
<table class="table table-striped messages">
    <thead>
        <tr>
            <th width="120px">收件人</th>
            <th width="220px">主题</th>
            <th width="125px">时间</th>
            <th>动作</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>
            <a href="/members/{{ message.recipient }}"><img src="{% small_avatar message.recipient %}" class="avatar avatar-small" />{{ message.recipient.last_name }}</a>
        </td>
        <td>
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}">删除</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p class="well">没有站内信</p>
{% endif %}   
{% endblock %}

{% block side %}
{% topbar outbox subnav.html %}
{% endblock side %}