{% extends "messages/base.html" %} 
{% load i18n %}
{% load gravatar %}

{% block title %}站内信{% endblock title %}

{% block main %}
<table class="table messages">
    <thead>
        <tr>
            <th width="120px">发件人</th>
            <th width="220px">主题</th>
            <th width="">时间</th>
            <th></th>
    </thead>
    <tbody>
    <td>
        <a href="/members/{{ message.sender }}"><img src="{% small_avatar message.sender %}" class="avatar avatar-small" />{{ message.sender.last_name }}</a>
    </td>
    <td>{{ message.subject }}</td>
    <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
    <td>
        {% ifequal message.recipient.pk user.pk %}
        {% ifnotequal message.sender.pk 0 %}          
        <a href="{% url messages_reply message.id %}">回复</a>
        {% endifnotequal %}
        {% endifequal %}
        <a href="{% url messages_delete message.id %}">删除</a>
    </td>
    </tbody>
</table>
<div class="well">
    {% if message.sender.pk == 0 %}
    {{ message.body|safe }}
    {% else %}
    {{ message.body|linebreaks|default:"(空)" }}
    {% endif %}
</div>
{% endblock %}